<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
        <div layout:fragment="content1">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 style="text-align: center">Gestion des Patients</h2>
        </div>
</body>
</html>