<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
        <div layout:fragment="content1">
            <div class="container mt-2">
                <div class="card">
                    <div class="card-header text-center">Liste des patients</div>
                    <br>
                        <div class="card-body text-center">
                            <div class="text-center">
                                <form method="get" th:action="@{index}">
                                    <label class="h5">Keyword</label>
                                    <input type="text" name="keyword" th:value="${keyword}">
                                    <button type="submit" class="btn btn-primary">Chercher</button>
                                </form>
                            </div>
                            <br><br>
                            <table class="table">
                                <thead class="text-center">
                                <tr>
                                    <th>Id</th><th>Nom</th><th>Date Naissance</th><th>Malade</th><th>Score</th><th>Update</th><th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="p:${listPatients}">
                                    <td th:text="${p.getId()}"></td>
                                    <td th:text="${p.getNom()}"></td>
                                    <td th:text="${p.getDateNaissance()}"></td>
                                    <td th:text="${p.malade}"></td>
                                    <td th:text="${p.getScore()}"></td>

                                    <td>
                                        <a class="btn btn-success" th:href="@{editPatients(id=${p.id},keyword=${keyword},page=${currentPage})}">
                                            Update
                                        </a>
                                    </td>

                                    <td>
                                        <a onclick="return confirm('Etes vous sure ?')" class="btn btn-danger" th:href="@{delete(id=${p.id},keyword=${keyword},page=${currentPage})}">
                                            Delete
                                        </a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                            <ul class="nav nav-pills">
                                <li th:each="pages,status:${pages}">
                                    <a th:class="${status.index==currentPage?'btn btn-secondary ms-2 mt-2':'btn btn-outline-secondary ms-2 mt-2'}"
                                       th:text="${status.index}"
                                       th:href="@{index(page=${status.index},keyword=${keyword})}"
                                    ></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
</body>
</html>